:root {
  --bg-electric: #fff23d;
  --bg-grass: #4acfb2;
  --bg-fire: #fc6c6e;
  --bg-water: #75bafc;
  --bg-bug: #d3fc75;
  --bg-normal: #bdbc93;
  --bg-ground: #ffde26;
  --bg-poison: #9626ff;
  --bg-fairy: #ff97f1;
  --bg-fighting: #fff9d6;
  --bg-psychic: #af7ef0;
  --bg-rock: #c7c951;
  --bg-ghost: #8af4f8;
  --bg-ice: #b5f4f7;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}
h1 {
  text-align: center;
}

h5 {
  font-size: 14px !important;
}

table {
  height: 100%;
  width: 100%;
  color: black;
  font-size: 12px;
}

#pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}

#pokemonFocus {
  position: relative;
  height: 100vh;
  width: 100%;
}
#about {
  font-size: 16px;
  font-weight: bolder;
}

#stats {
  font-size: 13px;
  font-weight: bolder;
}

#stats tr td:first-child {
  width: 20%;
}

#stats tr td:last-child {
  width: 40%;
}

#stats tr:nth-child(even) td:last-child div.progress-bar {
  background-color: rgb(115, 255, 0);
}
#stats tr:nth-child(odd) td:last-child div.progress-bar {
  background-color: rgb(255, 145, 0);
}

.card {
  min-width: 47% !important;
  min-height: 90px;
  color: white;
  border-radius: 10px !important;
  overflow: hidden;
}
.card-header {
  background-color: transparent !important;
  margin-top: 24px;
}
.card-header a {
  color: black;
}
.card:hover {
  cursor: pointer;
}
.form-control {
  width: 80% !important;
}

.container-fluid {
  flex-wrap: unset !important;
}
.col-md-8 {
  width: 100% !important;
  position: relative;
  min-height: 100%;
}
.row {
  width: 100% !important;
  min-height: 100%;
}
.type {
  width: fit-content;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
}

.pokemonImg {
  position: absolute;
  right: 5px;
  bottom: 2px;
  width: 80px !important;
  height: 80px !important;
  z-index: 2;
}
.pokeballImg {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 80px !important;
  height: 80px !important;
  opacity: 0.2;
  z-index: 1;
}

div.focusBody div.card {
  height: 100%;
  border: none;
}

div.focusBody ul {
  font-size: 13px;
}
.focusImg {
  max-width: 200px;
  position: absolute;
  top: 0;
  bottom: 140%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}

div.focusHeader button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 8px;
}

div.focusHeader div.type {
  margin-left: 8px;
  margin-bottom: 8px;
}

.focusHeader {
  height: 50%;
  background-color: burlywood;
}

.focusBody {
  position: relative;
  height: 50%;
  border-radius: 16px;
  margin-top: -24px;
  background-color: white;
}

.progress {
  height: 6px !important;
}

/* Pokeball animated */

.pokeball {
  box-sizing: border-box;
  border: 10px solid #262122;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 0 auto;
  background: linear-gradient(
    150deg,
    #ba0c2f 0%,
    #ba0c2f 48%,
    #262122 48%,
    #262122 52%,
    #fff 52%,
    #fff 100%
  );
}

.pokeball:before,
.pokeball:after {
  content: ' ';
  border-radius: 100%;
  display: block;
  position: absolute;
}

.pokeball:before {
  background: #262122;
  width: 80px;
  height: 80px;
  margin-top: 75px;
  margin-left: 75px;
}

.pokeball:after {
  background: #fff;
  width: 50px;
  height: 50px;
  margin-top: 70px;
  margin-left: 70px;
  border: double 20px #262122;
}

.pokeball-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  animation-name: shake;
}

@keyframes shake {
  from {
    transform: none;
  }
  20% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  40% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  50% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
  }
  to {
    transform: none;
  }
}

@media all and (max-width: 400px) {
  .col-md-8 img {
    width: 60px !important;
    height: 60px !important;
  }
}
@media all and (min-width: 500px) {
  .card {
    min-width: 30% !important;
  }
}
@media all and (min-width: 900px) {
  .card {
    min-width: 24% !important;
  }
}
